<!DOCTYPE html>
<html>
  <head>
    <title>Toyapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <nav class="navbar navbar-inverse bg-primary">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Antons Toyapp</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Users</a></li>
      <li><a href="/static_pages/home">home</a></li>
      <li><a href="/static_pages/help">help</a></li>
      <li><a href="/static_pages/about">about</a></li>
      <li><a href="/static_pages/hulk">hulk</a></li>
    </ul>
    </nav>
    <div>
    <%= yield %>
    </div>
  </body>
</html>
